html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* STARTS HERE*/
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
    font-size: 62.5%;
    background-color: hsl(225, 100%, 94%);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    background-color:white;
    border-radius:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45rem;
    box-shadow: 0px 20px 12px 5px #D6E1FF;
    margin-top: 10rem;  
}

.image img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* MID-TOP */
.title-with-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.introduction {
    line-height: 1.5;
    text-align: center;
    padding: 2rem 5rem;
}

h1 {
    font-size: 2.8rem;
    font-weight:900;
    color: hsl(223, 47%, 23%);
}

p {
    font-size: 1.6rem;
    color:hsl(224, 23%, 55%)
}

/* MID-BOTTOM */
.plan {
    background-color: #f7f7ff;
    border-radius: 10px;
    width: 35rem;
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
}

a {
    font-size: 1.4rem;
    font-weight:700;
}

h2 {
    font-size:1.6rem;
    color: hsl(223, 47%, 23%);
    font-weight:900;
    margin-bottom:1rem;
}

h3 {
    font-size: 1.6rem;
    color:hsl(224, 23%, 55%);
    font-weight:500;
}

.plan-price {
    padding-right:6rem;
}
/* BOTTOM*/
.payment {
    display: flex;
    flex-direction: column;
    margin-top:3rem;
}

.pay, .cancel {
    background: hsl(245, 75%, 52%);
    border:none;
    border-radius:12px;
    padding: 1.5rem 10rem;
    color: white;
    font-weight:700;
    box-shadow: 0px 20px 12px 1px hsl(225, 100%, 94%);
    font-size: 1.5rem;
}

.cancel {
    background: white;
    color: hsl(224, 23%, 55%);
    box-shadow: none;
    margin-top:2.5rem;
    margin-bottom:4rem;
}

.pay, .cancel:hover {
    cursor: pointer;
}

.attribution {
    margin-top: 2rem;
}

@media (max-width:500px){
.container {
    max-width:90%;
}
    
.image img {
    max-width:100%
}
    
.plan, .payment {
    max-width: 90%;
}
    }